body {
  background-color: turquoise;
  margin: 0px;
  padding: 0px;
  font-family: "Courier New", Courier, monospace;
}

button {
  background-color: white;
  color: black;
}

.container {
  width: calc(100vw - 2 * var(--padding-default));
  margin: var(--padding-default);
  min-height: min(200px, 20rem);
  max-height: 600px;
}
